{% extends "base.html" %} {% block title %} Alimentación {% endblock %}

{% block content %}
<hr style="height: 1px;border: 0">
<h1 align="center" style="color: #0070ff;">Proximamente
</h1>

<div style="position: relative;background-color: black; width: 600px; height: 500px;">    
    <div style="position: absolute; bottom: 0px; left: 20px; color: #0070ff">
        invl - Inventario en línea. 2023-2024. <label style="color: #7fff00;">Creado por Janis &#9825; y Axl.</label>
    </div>
  </div>

{% endblock %} 