{% extends "base.html" %} {% block title %} Menú principal {% endblock %}

{% block content %}
<hr style="height: 1px;border: 0">
<h1 align="center" style="color: #0070ff;">Menú principal
</h1>
<p style="color: #0070ff;"> Bienvenido </p>
<p style="color: #0070ff;"> Aquí puedes realizar notas e inventarios que se almacenan en una base de datos, 
    por lo que no debes preocuparte por la pérdida de tu información.
</p>
<p style="color: #0070ff;"> Inicia sesión o crea una cuenta para acceder a estas características, 
    posteriormente podrás seleccionar en la parte 
    superior a cual de estas deseas acceder.</p>

{% endblock %} 