{% extends "base.html" %} {% block title %} Menú principal {% endblock %}

{% block content %}
<hr style="height: 1px;border: 0">
<h1 align="center" style="color: #0070ff;">Menú principal
</h1>
<h2 style="color: #0070ff;"> Bienvenido </h2>
<p style="color: #7fff00"> invl (Inventario en línea). <label style="color: white;"> 
    Es una página que te permite realizar diversas tareas, principalmente la creación y gestión
    de un inventario que se almacena en una base de datos en la nube; además permite crear y 
    modificar notas, gestionar tu alimentación, etc. El almacenamiento en la nube permite que accedas
    desde cualquier dispositivo conectado a internet.
</label></p> 
<h2  style="color: #0070ff;">Notas</h2>
<p style="color: white;"> En el apartado de notas es tan fácil como agregar el texto que deseas
guardar como nota y dar clic en el botón de enviar, posteriormente la nota se mantendrá guardada. Para 
eliminar una nota puedes seleccionar en el botón ubicado en la parte derecha de la nota</p>
<h2 style="color: #0070ff;">Inventario</h2>
<p style="color: white;"> Para agregar un elemento al inventario es necesario que pulses el botón de:
<label style="color: #7fff00;">Nuevo producto</label>, posteriormente se abrirá un menú donde puedes 
rellenar los datos del elemento que deseas guardar, cuando terminas de llenar los campos presiona en el 
botón: <label style="color: #7fff00;">Agregar</label> para agregar el elemento.</p>
<p style="color: white;">Cuando tengas elementos en tu inventario, podrás realizar búsquedas y eliminar elementos. Para eliminar un
elemento da clic en el botón ubicado en la parte derecha del elemento. </p>

<p style="color: white;"> Inicia sesión o crea una cuenta para acceder a estas características.</p>
<hr style="height: 0.005cm; border: 0;"></hr>
<hr style="height: 0.005cm; border: 0;"></hr>
<hr style="height: 0.005cm; border: 0;"></hr>
    
<hr style="height: 0.005cm; border: 0;"></hr>
    
<label style="height: 1px;border: 0; color: #0070ff;">invl - Inventario en línea. 2023-2024.
</label>
<label style="color: #7fff00;">Creado por Janis &#9825; y Axl.</label>
<hr style="height: 0.005cm;border: 0"></hr>
{% endblock %} 