{% extends "base.html" %} {% block title %} Menú principal {% endblock %}

{% block content %}
<h1 align="center" >Menú principal
</h1>
<p > Bienvenido </p>
<p> Aquí puedes realizar notas e inventarios que se almacenan en una base de datos, 
    por lo que no debes preocuparte por la pérdida de tu información.
</p>
<p> Inicia sesión o crea una cuenta para acceder a estas características, 
    posteriormente podrás seleccionar en la parte 
    superior a cual de estas deseas acceder.</p>

{% endblock %} 