{% extends "base.html" %} {% block title %} Inventario {% endblock %}

{% block content %}
<h1 align="center">Inventario
</h1>
<body> Que tal, en esta pagina web puedes realizar diversas operaciones:
    <style>
        table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
}
    </style>
    <table align="center" style="width: 100%;">
        <tr style=background-color:#ffc4e0>
          <th style="text-align: center;">Cantidad</th>
          <th style="text-align: center;">Objeto</th>
          <th style="text-align: center;">Descripción</th>
          <th style="text-align: center;">Precio anterior</th>
          <th style="text-align: center;">Precio actual</th>
          <th style="text-align: center;">Fecha-Caducidad</th>
          <th style="text-align: center;">Categoría</th>
        </tr>
        <tr style=background-color:#243762>
          <td style="color: aliceblue;">1</td>
          <td style="color: aliceblue;">carne</td>
          <td style="color: aliceblue;">De cerdo</td>
          <td style="color: aliceblue;text-align: center;">$50</td>
          <td style="color: aliceblue;text-align: center;">$60</td>
          <td style="color: aliceblue;text-align: center;">DIC/2025</td>
          <td style="color: aliceblue;text-align: center;">Comida</td>
        </tr>
      </table> 
{% endblock %} 