{% extends "base.html" %} {% block title %} Iniciar sesión {% endblock %}

{% block content %}
<h1>Iniciar sesion </h1>
{{ cuenta }}

<form method="POST">
    
    <div class="form-group">
        <label form="email">Dirección de correo</label>
        <input
        class="form-control" 
        id="email" 
        name="email" 
        placeholder="Introduce tu correo"
        />
    </div>
    <div class="form-group">
        <label form="password">Contraseña</label>
        <input
        class="form-control" type="password"
        id="password" 
        name="password" 
        placeholder="Introduce tu contraseña"
        />
        <input type="checkbox" onclick="pass_to_text('password')">Mostrar contraseña

    </div>
    <br />
    <button type="Enviar" class="btn btn-primary">Enviar</button>
    
</form>

{% endblock %} 