{% extends "base.html" %} {% block title %} Notas {% endblock %}

{% block content %}
<hr style="height: 1px;border: 0">
<h1 align="center" style="color: #0070ff;">Notas
</h1>
<ui class="list-group list-group-flush" id="notes">
    {% for note in user.notes%}
    <li class="list-group-item" style="background-color: black; color: white;">
        {{ note.data }}
        <button type="button" class="close" style="color: red;" class="btn btn-danger btn-sm" onCLick="deleteNote({{ note.id }})">
            <span aria-hidden="true">&times;</span>
        </button>
    </li>
    {% endfor %}
</ui>
<form method="POST">
    <textarea name="note" id="note" class="form-control" style="background-color: black;" ></textarea>
    <br />
    <div align="center">
        <button type="submit" class="btn btn-default"
        style="color: white;background-color: black; border-color: #0070ff;border-radius: 12px" 
        >Agregar nota</button>
    </div>
</form>

<div style="position: relative;background-color: black; width: 600px; height: 390px;">    
    <div style="position: absolute; bottom: 0px; left: 20px; color: #0070ff">
        invl - Inventario en línea. 2023-2024. <label style="color: #7fff00;">Creado por Janis &#9825; y Axl.</label>
    </div>
  </div>


{% endblock %} 