{% extends "base.html" %} {% block title %} Sign up {% endblock %}

{% block content %}
<form method="POST">
    <h3 align="center">Crear cuenta</h3>
    <div class="form-group">
        <label form="email"> Dirección de correo</label>
        <input
        class="form-control" 
        id="email" 
        name="email" 
        placeholder="Introduce tu correo"
        />
    </div>
    <div class="form-group">
        <label form="first_name"> Primer nombre</label>
        <input
        class="form-control" 
        id="first_name" 
        name="first_name" 
        placeholder="Introduce tu primer nombre"
        />
    </div>
    <div class="form-group">
        <label form="password">Contraseña</label>
        <input
        class="form-control" 
        id="password" 
        name="password" 
        placeholder="Introduce tu contraseña"
        />
    </div>
    <div class="form-group">
        <label form="password2">Repite tu contraseña</label>
        <input
        class="form-control" 
        id="password2" 
        name="password2" 
        placeholder="Introduce tu contraseña"
        />
    </div>
    <br />
    <button type="Enviar" class="btn btn-primary">Enviar</button>
    
</form>

{% endblock %} 